<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crime_vs_Economy</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="col-md-12 jumbotron text-center">
        <h1>Crime vs Socioeconomic Status in Chicago</h1>
        <p>Use the interactive charts below to explore the crime rates, income and unemployment rates in Chicago.
            The data provided by ward. The wards are ordered by their average income rates in all charts.
            The circle sizes in the bottom chart represent the crime incidents.
            Use the map below to investigate the number of crime types for each ward by clicking on place markers.
            While there is a negative correlation between income and unemploymet rates, we did not observe any strong
            correlation between the total number of crime incidents and Socioeconomic status of the wards.
        </p>
        </div>
    </div>
    <div id="bar"></div>
    <select id="selDataset" onchange="getData(this.value)">
        <option value="income">Income Rates</option>
        <option value="unemployment">Unemployment Ratios</option>
        <option value="crime">Crime Incidents</option>
    </select>
    <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    <div id="map"></div>
    <div id="capture"></div>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="/static/js/map.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKuezGqP4GBJWAN1kpCimTTyM_Ugd2gIw&callback=initMap">
    </script>
    <iframe src= "https://www.google.com/maps/d/embed?mid=1llahIr8YycVjitsABO-9B-ns35UMnyeK" width="940" height="480"></iframe>
</body>
</html>
